<div class="list-user">
    <div class="list-user--title">
        <div class="title-bar">
            <h4>List Chat</h4>
        </div>
        <div class="search-bar">
            <div class="stylish-input-group">
                <el-input
                        type="text"
                        placeholder="Search..."
                        v-model="userName"
                        maxlength="20"
                        clearable
                        v-on:keyup.enter="searchChat()"
                >
                </el-input>
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span></div>
        </div>
    </div>
    <div class="list-user--content">
        <div v-for="item in listUser" :key="item.id">
            <div class="chat-list" :class="{ active_chat: activeItemId === item.id }">
                <div class="chat-list--item" @click="getContent(item.id)">
                    <div class="item_img">
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    </div>
                    <div class="item_content">
                        <h5>{{ getUserName(item) }}<span class="chat_date">{{ getDate(item) }}</span></h5>
                        <p>{{ getLastMessage(item) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
